.home {
  height: calc(100vh - 160px);
  overflow: hidden;
}

.init-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  text-align: center;
}

.link {
  font-weight: 500;
  color: #000 !important;
  background-color: #e3a22e;
  border-radius: 23px;
  padding: 15px;
  text-decoration: none !important;
}

@keyframes elementor-animation-pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}

.welcome-init {
  color: #1d135a;
  font-family: "Quicksand", Sans-serif;
  font-size: 41px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
}
