.content-panorama {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 161px);
    overflow-y: auto;
    color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  